body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.gauge-container {
    display: inline-block;
    text-align: center;
   
    
}


.gauge {
    width:500px;
    height: auto;
    transform: rotate(180deg); 
    display: block;
    margin: auto;
}

.score {
    font-size: 20px;
    font-weight: bold;
    margin-top: -5px;
    
}

.gauge-wrapper {
    width: 50px;
    margin: auto;
}

